@charset "UTF-8";




#inputSection{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: space-around;
}

#textareaDiv{
	display: flex;
	flex-direction: column;
	width: 500px;
	height: auto;;
}

#textarea{
	width: 400px;
	height: 600px;
	box-shadow: 3px 3px 3px;
	overflow: auto;
}

	
#buttonId{
	display: flex;
	background-color: green;
	justify-content: center;
	width: 400px;
}

#output{
	display:flex;
	width: 400px;
	height: 600px;
	border: solid;
	margin: 0px;
}